<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://pbs.twimg.com/profile_images/987687428365389825/F42jiM8p_400x400.jpg" type="image/jpg" rel="icon">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/desktop/admin-login.css')}}">
    <style>
              body{
            background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("{{ url_for ('static', filename = 'images/school.jpg ')}}");
        }
        .home-button{
      position: fixed;
      top: 0;
      left: 0;
      background-color: bisque;
      height: 4%;
      width: 6%;
      padding: 1% 1.5% 1% 1.5%;
    }

    .home-button a{
      font-size: 25px;
      font-weight: 900;
    }
    </style>
</head>
<body>

  <div class="home-button">
    <a href="/desktop">Home</a>
  </div>

  <div class="error">
    {% if error == "empty" %}
        <h1>Form was not filled.</h1>
    {% elif error == "wrong" %}
        <h1>Wrong password.</h1>
    {% endif %}
  </div>

    <div class="login">
        <h1>Enter password</h1>
        <form action="/mobile/admin-login" method="post">

          {{ form.csrf_token }}

            <label>Password: </label>
            <input type="password" name="login" placeholder="Enter password: ">
            <br><br><br><center><input type="submit" value="Submit"></center>
        </form>
      </p>
        </form>
      </div>
</body>
</html>