<html>
<head>
<title>
delete
</title>
<link rel="stylesheet" href="{{ url_for ('static', filename = 'css/desktop/delete.css')}}">
<link href="https://pbs.twimg.com/profile_images/987687428365389825/F42jiM8p_400x400.jpg" type="image/jpg" rel="icon">
<style>
          body{
        background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("{{ url_for ('static', filename = 'images/school.jpg ')}}");
        overflow: hidden;
    }
    .home-button{
      position: fixed;
      top: 0;
      left: 0;
      background-color: bisque;
      height: 4%;
      width: 6%;
      padding: 1% 1.5% 1% 1.5%;
    }

    .home-button a{
      font-size: 25px;
      font-weight: 900;
    }
</style>
</head>
<body>
    <div class="home-button">
        <a href="/desktop">Home</a>
      </div>
<br>
<br>
<br>
<div class="login">
  <h1>Choose the date</h1>
  <form action="/desktop/delete-booking" method="post">
      <br><label>Name: </label>&nbsp;
      <input type="text" name="name" placeholder="Enter Name: " required>
      <br><br><label>Email: </label>
      <input type="email" name="email" placeholder="Enter Email: " required>
      <br><br><label>Date:</label>
      <input type="date" name="date" required>
      <br><br>
      <label>Starting Period: </label>
      <select name="start">
          {% for i in start %}
              <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
      </select>
      <br><br>
      <label>Ending Period: </label>
      <select name="end">
          {% for i in end %}
              <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
      </select>
      <br><br><br><center><input type="submit" value="Submit"></center>
  </form>
</p>
  </form>
</div>

</body>
</html>