<html>
<head>
<title>
Available
</title>
<link rel="stylesheet" href="{{ url_for ('static', filename = 'css/desktop/available.css')}}">
<link href="https://pbs.twimg.com/profile_images/987687428365389825/F42jiM8p_400x400.jpg" type="image/jpg" rel="icon">
<style>
          body{
        background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("{{ url_for ('static', filename = 'images/school.jpg')}}");
    }

    .home-button{
      position: fixed;
      top: 0;
      left: 0;
      background-color: bisque;
      height: 4%;
      width: 6%;
      padding: 1% 1.5% 1% 1.5%;
    }

    .home-button a{
      font-size: 25px;
      font-weight: 900;
    }
</style>
</head>
<body>
<br>
<br>
<br>

<div class="home-button">
  <a href="/desktop">Home</a>
</div>

<div class="available">
  <h1>booked timings</h1>

  {% if info %}
  <table border="2" cellpadding="1">
      <tr>
          <th width="25%">Name</th>
          <th width="25%">Starting Period</th>
          <th width="25%">Ending Period</th>
          <th width="25%">Purpose</th>
      </tr>
      {% for i in info %}
      <tr>
          <td>{{ i["name"].title() }}</td>
          <td>{{ i["starting_period"] }}</td>
          <td>{{ i["ending_period"] }}</td>
          <td>{{ i["purpose"] }}</td>
      </tr>
      {% endfor %}
  </table>
{% else %}
      <br>
      <h2>
          No one has booked the auditorium for this day.
      </h2>
{% endif %}
</div>

<div class="link">
  <a href="/desktop/booking">
    Click here to book for another day.
  </a>
</div>

<div class="book">
  <h1>Choose the timings</h1>

      <form action="/desktop/book" method="post">

        {{ form.csrf_token }}

        <label>Name: </label>
        <input type="text" name="name" placeholder="Enter Name: " required>
        <br><br><label>Email: </label>
        <input type="email" name="email" placeholder="Enter Email: " required>
        <br><br>
        <label>Starting Period: </label>
        <select name="start">
            {% for i in start %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label>Ending Period: </label>
        <select name="end">
            {% for i in end %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br><br><label>Purpose: </label>
        <textarea name="purpose" required></textarea>
        <br><br><center><input type="submit" value="Submit"></center>
        <input type="text" name="date" value="{{ date }}" hidden>
      </form>
</p>
</div>
</body>
</html>