<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/desktop/success-fail.css')}}">
    <link href="https://pbs.twimg.com/profile_images/987687428365389825/F42jiM8p_400x400.jpg" type="image/jpg" rel="icon">
    <title>Success!!</title>
    <style>
        body{
            background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("{{ url_for ('static', filename = 'images/school.jpg')}}");
        }
    </style>
</head>
<body>
    <div id="message">
        {% if info == "reserved" %}
            <h1>The auditorium has been booked.</h1>
        {% elif info == "deleted" %}
            <h1>Your registration has been deleted.</h1>
        {% endif %}
        <h2>This window will be redirected back to home page in <span>5</span> seconds.</h2>
    </div>
    <script>
        window.onload = load;

        function load() {
            var time = 4;
            for (let count = 0; count < 1; count++) {
                setInterval(() => {
                    document.querySelector("span").innerHTML = time;
                    time = time - 1;
                    if (time == 0) {
                        window.open("/desktop", "_self");
                    }
                }, 1000);
            }
        }
    </script>
    <script type="module">
        import confetti from 'https://cdn.skypack.dev/canvas-confetti';
        confetti();
    </script>
</body>
</html>